@tailwind base;
@tailwind components;
@tailwind utilities;

.question h1 {
    font-size: 1.2rem;
}

.question ul {
    list-style-type: disc;
}

.explanation h1 {
    font-size: 1.2rem;
}

.explanation ul {
    list-style-type: disc;
}

*:not(pre) > code {
    @apply bg-gray-200 px-1 py-[2px] rounded text-sm;
}
